---
# code: language=yaml
#
# --------------------------------------------------------------------------------
#
# static variables should be placed in default and the dynamic should be placed in vars
#
# defaults file for {{ role_name }}
#
# --------------------------------------------------------------------------------
#
# First value is the default value, please leave it
c_actions:
  - all
  - install
#
# First value is the default value, no need to adapt this
c_state:
  - present
  - absent
#
# --------------------------------------------------------------------------------
#
# Below here you can put your own static variables
#
#
# --------------------------------------------------------------------------------
#
#
### EOF ###
...
