---
# code: language=yaml
#
# --------------------------------------------------------------------------------
#
# static variables should be placed in default and the dynamic should be placed in vars
#
# vars file for role {{ role_name }}
#
# --------------------------------------------------------------------------------
#
# Below here you can put your own dynamic variables
#
#
# --------------------------------------------------------------------------------
#
#
#
### EOF ###
...
