# roles/{{ role_name }}/README.md
The j2 templates is working for all files except for p_playbook.yml

## Usage
```bash
ansible-playbook playbooks/p_{{ role_name }}.yml -e "e_hosts=all e_action=install"
ansible-playbook playbooks/p_{{ role_name }}.yml -e "e_hosts=all e_action=install e_state=absent" --limit test
ansible-playbook playbooks/p_{{ role_name }}.yml -e "e_hosts=all e_state=present" --limit test
ansible-playbook playbooks/p_{{ role_name }}.yml -e "e_hosts=all e_state=absent" --limit test
ansible-playbook playbooks/p_{{ role_name }}.yml -e "e_hosts=all" --limit test
ansible-playbook playbooks/p_{{ role_name }}.yml -e "e_hosts=all"
ansible-playbook playbooks/p_{{ role_name }}.yml --limit test
```

## Created with

```bash
#
ansible-galaxy init --init-path roles --role-skeleton=../roles/skeleton <my new role>
#
```

---

## Description

{{ role_name }} is an Ansible role used to ...


## Generate new playbook with example file
Copy template roles playbook to main directory and change accordingly
cp roles/{{ role_name }}/p_playbook.yml playbooks/p_{{ role_name }}.yml

## Requirements
Any pre-requisites that may not be covered by Ansible itself or the role should be mentioned here. For instance, if the role uses the EC2 module, it may be a good idea to mention in this section that the boto package is required.

## Role Variables
A description of the settable variables for this role should go here, including any variables that are in defaults/main.yml, vars/main.yml, and any variables that can/should be set via parameters to the role. Any variables that are read from other roles and/or the global scope (ie. hostvars, group vars, etc.) should be mentioned here as well.

## Dependencies
A list of other roles hosted on Galaxy should go here, plus any details in regards to parameters that may need to be set for other roles, or variables that are used from other roles.

## References

## Author Information
Robert Worreby, RoCoWo Consulting, <ansible@worreby.ch>

## EOF
