---
# code: language=ansible
#
# --------------------------------------------------------------------------------
#
- hosts: all
  #
  roles:
    - "{{ role_name }}"
#
# --------------------------------------------------------------------------------
#
#
### EOF ###
...
