---
# code: language=ansible
# --------------------------------------------------------------------------------
# handlers file for {{ role_name }}
# --------------------------------------------------------------------------------
#
#
### EOF ###
...
